@model List<PresentationLayer.MenuViewModel>
 
@{
    ViewBag.Title = "Index";
}
 
<h2>Index</h2>
 
<table class="table">
    <tr>
        <th>
            Positionid
        </th>
        <th>
            Dishid
        </th>
        <th>
            Price
        </th>
        <th></th>
    </tr>
 
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Positionid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dishid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.ActionLink("Order", "MakeOrder", new { id=item.Positionid })
        </td>
    </tr>
}
 
</table>
